.avatar {
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 999.9rem;
  background-color: var(--primary-main);
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.avatar-name {
  font-size: 2.4rem;
  font-weight: 500;
  padding-top: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}

.messenger-icon {
  width: 3.2rem;
  height: 3.2rem;
  top: 3.4rem;
  left: 3.8rem;
  position: absolute;
  float: inline-start;
}
