.navbar {
  position: relative;
  width: 9.6rem;
  height: 108rem;
  background-color: var(--primary-main);
}

.navbar-list {
  align-content: center;
}

.navbar-list_item {
  padding-bottom: 4rem;
}

.navbar-list_item:first-child {
  padding-top: 2.8rem;
}

.navbar-list_item:last-child {
  position: absolute;
  bottom: 0;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
